<footer class="footer">
    <div class="container">
<h3 class="title2">- get in touch with us -</h3>
<p class="under_title">Maecenas faucibus molli interdum. Cras mattis 
  consectetur purus sitor amet sed donec malesuada ullamcorper odio.
     </p>
     <p class="text2">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada 
      ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
   <div class="icons">
    <a href="#"><img src="./img/net-1.png" alt=""></a>
    <a href="#"><img src="./img/net-2.png" alt=""></a>
    <a href="#"><img src="./img/net-3.png" alt=""></a>
    <a href="#"><img src="./img/net-4.png" alt=""></a>
    <a href="#"><img src="./img/net-5.png" alt=""></a>
   </div>
   <p class="contacts"> Moonshine St. 14-05 Light City   /  T. +00 (123) 456 78 90   /   first.last@email.com</p>
  
</div>
</footer>