 <header class="header">
  <div class="container">
    <nav class="navheader" >
        <ul class="navmenu">
    <li><a class="item itemColor" href="#">home</a></li>
    <li><a class="item" href="#">About Us</a></li>
    <li><a class="item" href="#">Our Journal</a></li>
    <li><a class="item" href="#">Projects</a></li>
    <li><a class="item" href="#">news</a></li>
    <li><a class="item" href="#">features</a></li>
    <li><a class="item" href="#">contact</a></li>
</ul>
    <div class="burgermenu">
 <svg class="button" xmlns="http://www.w3.org/2000/svg" width="44" height="37" viewBox="0 0 44 37">
        <g clip-path="url(#clip0_22_47)">
        <rect width="44" height="37" fill="black" />
        <rect x="13" y="13" width="17" height="2" fill="white"/>
        <rect x="13" y="17" width="17" height="2" fill="white"/>
        <rect x="13" y="21" width="17" height="2" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_22_47">
        <rect width="44" height="37" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        <svg class="active_button" xmlns="http://www.w3.org/2000/svg" width="44" height="37" viewBox="0 0 44 37" fill="none">
            <g clip-path="url(#clip0_22_120)">
            <rect width="44" height="37" fill="black"/>
            <rect x="27.8033" y="24.7175" width="17" height="2" transform="rotate(-135 27.8033 24.7175)" fill="white"/>
            <rect x="15.7825" y="23.3033" width="17" height="2" transform="rotate(-45 15.7825 23.3033)" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_22_120">
            <rect width="44" height="37" fill="white"/>
            </clipPath>
            </defs>
            </svg>
    </div> 
    </nav>
    <div class="intro">
<img src="./img/intro.png" alt="img">
    </div>  
   </div>
</header> 

