<main >
    <div class="container">
    <h3 class="recent_posts">- our Recent posts</h3>
    <ul class="list">
        <li class="items">
            <div class="imgs">
                <img src="./img/our-1.png" alt="">
            </div>
            <div class="text-content">
                <h3 class="title">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="comments">Photography, Journal   /   9 Comments</p>  
                <p class="info">Etiam porta sem malesuada euismod. Aenean leo quam. 
                Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </li>
        <li class="items">
            <div class="imgs">
                <img src="./img/our-2.png" alt="">
            </div>
            <div class="text-content">
                <h3  class="title">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="comments">Photography, Journal   /   9 Comments</p>  
                <p class="info">Etiam porta sem malesuada euismod. Aenean leo quam. 
                Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </li>
        <li class="items">
            <div class="imgs">
                <img src="./img/our-3.png" alt="">
            </div>
            <div class="text-content">
                <h3  class="title">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="comments">Photography, Journal   /   9 Comments</p>  
                <p class="info">Etiam porta sem malesuada euismod. Aenean leo quam. 
                Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </li>
        <li class="items">
            <div class="imgs">
                <img src="./img/our-4.png" alt="">
            </div>
            <div class="text-content">
                <h3 class="title">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="comments">Photography, Journal   /   9 Comments</p>  
                <p class="info">Etiam porta sem malesuada euismod. Aenean leo quam. 
                Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </li>
    </ul>
</div>
    <section class="img-instagran">
        <div class="container">
            <div class="instagram">
            <p>- Latest Instagram Shots</p>
            <p class="go-to-instagram">go to our instagram page -</p>
        </div>
        <div class="content-img">
            <img class="firsimg" src="./img/shot-1.png" alt="">
            <img class="forpc" src="./img/shot-2.png" alt="">
            <img class="forpc" src="./img/shot-3.png" alt="">
            <img class="forpc" src="./img/shot-4.png" alt="">
        </div>
        </div>    
    </section>
</main>