.footer{
    background-color: #000;
    color: white;
    text-align: center;
    width: 100%;
    min-width: 350px;
}

.title2{
    font-size: 14px;
font-weight: 700;
line-height: 22px; 
text-transform: uppercase;
padding-top: 38px;
padding-bottom: 8px;
}

.under_title{
    color: $footer-text-color;
    width: 303px;
height: 52px;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-align: center;
margin: 0 auto;
}

.icons{
    padding-top: 26px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.text2{
    display: none;
}

.contacts{
    color: $footer-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
 padding-bottom: 47px;
}

@media screen and (min-width:768px ) {
    .text2{
        display: block;
        color: $footer-text-color;
        width: 684px;
height: 44px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 0 auto;
    }
    .under_title{
        display: none;
    }
}