.navheader{
  display: flex;
  justify-content: flex-end;
  position: relative;

}


.intro {
  margin-top: 23px;
  // display: flex;
  // min-height: 200px;
    img {
      // display: flex;
      width: 100%;
      height: auto; 
  }
}
  

.navmenu{
  display: none;
 
}

 .active{
  display: flex;
  flex-direction: column;
  position: fixed;
  list-style-type: none;
  background-color: #F5F5F5;
  margin-top: 61px;
  width: 182px;
height: 208px;
}

.navmenu li {
  padding-bottom: 4px;
  padding-top: 4px;
  
  &:hover{
    background-color: #d4cece;
  }
}

.item{
  padding-left: 34px;
  color: #4E4E4E;
font-size: 11px;
font-weight: 400;
line-height: 22px; 
letter-spacing: 1.1px;
text-transform: uppercase;
&:hover{
  color: $hover-color;
}
}
.itemColor{
  color: $hover-color;
}

.burgermenu{
 padding-top: 23px;
}

.active_button{
  display: none;
}

@media screen and (min-width:768px){
  .navheader{
  @include flex-center;
  }
  .navmenu{
    @include flex-center;
    background-color: none;
    flex-direction: row;
    position: relative;
    height: 0;
    margin-top: 41px;
    }
    .intro{
      margin-top: 43px;
    }
    .navmenu li {
      padding-bottom: 4px;
      padding-top: 4px;

      &:hover{
        background-color: #fffdfd;
       
      }
    }
  .burgermenu{
    display: none;
   }
}


@media screen and (min-width:1200px){
  .item{
    padding-left: 64px;
  }
  .intro{
    margin-top: 51px;
  }
  .navmenu{
    margin-top: 45px;
  }
}