.list{
    padding-bottom: 32px;
}


.recent_posts{
    color: #4E4E4E;
font-size: 14px;
font-weight: 700;
line-height: 22px; 
text-transform: uppercase;
margin-top: 38px;
margin-bottom: 23px;
}

.items{
    padding-bottom: 28px;
}

.title{
    padding-top: 11px;
}

.comments{
    color: #7C7C7C;
font-size: 11px;
font-weight: 400;
line-height: 20px;
}

.info{
    display: none;
}


@media screen and (min-width:768px) {
    .recent_posts{
        font-size: 16px;
    }
    .items{
        display: flex;

    }
    .info{
        display: block;
        color: #5C5C5C;
font-size: 14px;
font-weight: 400;
line-height: 26px;
padding-top: 4px;
    }
    .text-content{
        width: 395px;
        margin-left: 20px;
    }
    .title{
        padding-top: 0;
    }
}


@media screen and (min-width:1200px){
    .list{
        display: flex;
        flex-wrap: wrap;
    }
  }

  .instagram{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    margin-bottom: 13px;
    p{
        color: #4E4E4E;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
    }
  }


  .go-to-instagram{
        display: none;
    }

  .forpc{
    display: none;
  }

  .content-img{
    padding-bottom: 42px;
  }

  @media screen and (min-width:768px){
    .img-instagran{
    background-color: hwb(0 96% 4%);
    }
    .go-to-instagram{
        display: block;
    }
      .content-img{
        display: flex;
        gap: 9px;
      } 
.firsimg{
        @include img-size;
    }
    .forpc{
        @include img-size;
      }
    .forpc:last-child{
        display: none;
      }
  }


  @media screen and (min-width:1200px){
    .go-to-instagram{
        display: block;
    }
    .forpc:last-child{
        display: block;
      }
      .content-img{
        display: flex;
        gap: 9px;
      }
  }
  
//coments for me////  
  
  
  // .imgs { // робимо картинки адаптивними, але по макету вони виглядають не так,тому коментємо
//     display: flex;
//   img{
//     width:100%;
// }  
// }
//   .firsimg{
//     display: flex;
// width: 100%;
//   }