@import "settings/variables";
@import "settings/_mixins";
@import "template/header";
@import "template/main";
@import "template/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
}

ul{
  list-style-type: none;
}

body{
  font-family: "Roboto";
}
  .container{
    min-width: 350px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  .container {
    min-width: 778px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
